/* Full page center */
.add-shorts-container {
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-shorts-container.dark{
  background-color: #000000;
  color: white;
}
.add-shorts-container.light{
  background-color: #ffffff;
  color: black;
}
/* Card */
.add-shorts-card {
  width: 100%;
  max-width: 420px;
  background: #181818;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
}
.add-shorts-container.light .add-shorts-card{
  background-color: #ffffff;
}

/* Title */
.add-shorts-card h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
}
.add-shorts-container.light .add-shorts-card h2{
  color: #000000;
}

/* Form layout */
.add-shorts-card form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Inputs */
.add-shorts-card input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #121212;
  color: #ffffff;
  font-size: 14px;
}
.add-shorts-container.light .add-shorts-card input{
  background-color: #cecdcd;
  color: black;
}

.add-shorts-card input::placeholder {
  color: #888;
}
.add-shorts-container.light .add-shorts-card input::placeholder{
  color: #1d1c1c;
}

/* Focus effect */
.add-shorts-card input:focus {
  outline: 2px solid #ff0000;
}

/* Button */
.add-shorts-card button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #ff0000;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
.add-shorts-card button:hover {
  background: #e60000;
}

/* Mobile responsive */
@media (max-width: 480px) {
  .add-shorts-card {
    margin: 0 16px;
    padding: 24px;
  }
}
