.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: sans-serif;
  }
  
  .notfound h1 {
    font-size: 80px;
    color: red;
  }
  
  .notfound p {
    font-size: 24px;
    color: #555;
  }
  