
.sidebar {
  width: 200px;
  background-color: var(--bg-color); 
  height: calc(100vh - 56px);
  position: sticky;
  top: 56px;
  color: var(--text-color); 
  padding-top: 12px;
  border-right: 1px solid var(--border-color);

}


.sidebar-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 40px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  margin: 0 12px 4px 12px;
  border-radius: 10px;
  cursor: pointer;
  
}


.sidebar-item:hover {
  background-color: var(--hover-bg);
}


.sidebar-item.active {
  background-color: var(--hover-bg);
  font-weight: 600;
}
a{
  text-decoration: none;
}


.s-icon {
  margin-right: 24px;
  font-size: 22px;
  color: var(--icon-color); 
}

.sidebar-title {
  padding: 10px 24px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}


hr {
  border: 0;
  border-top: 1px solid var(--border-color);
  margin: 12px 0;
}


.sidebar-item:hover .span,
.sidebar-item:hover .s-icon {
  color: var(--hover-text);
}