
.sidebar-mini {
  width: 72px;
  height: calc(100vh - 56px);
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 4px;
  position: sticky;
  top: 56px;
  z-index: 10;
  
}
.sidebar-item-mini{
  font-size: 12px;
}


.sidebar-item-mini, 
.sidebar-item-mini-active {
  width: 64px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center; 
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 4px;
  
}
a{
  text-decoration: none;
}


.sidebar-item-mini-active {
  background-color: var(--hover-bg); 
}


.sidebar-item-mini:hover {
  background-color: var(--hover-bg);
}


.s-icon-mini {
  font-size: 24px;
  margin-bottom: 6px;
  color: var(--text-color);
}


.sidebar-item-mini .NavLink,
.sidebar-item-mini-active .NavLink {
  font-size: 10px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
  white-space: nowrap;
}


hr {
  width: 80%;
  border: 0;
  border-top: 1px solid var(--border-color);
  margin: 8px 0;
}